<!-- Main Heading -->
<div class="products-page container">
  <div class="row">
    <div class="col-xs-12 products-heading">
      <!-- Category Title -->
      <h1 class="col-sm-10">Women's tops</h1>
      <!-- Filter -->
      <div class="col-sm-2 text-right">
        <select class="form-control" [(ngModel)]="selectedSizeFilter">
          <option value="">Filter</option>
          <option *ngFor="let sizeFilter of sizeFilters" value="{{sizeFilter}}">{{sizeFilter}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Product List -->
  <div class="row product-list">
    <!-- Product Detail -->
    <ng-template ngFor let-product [ngForOf]="products">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-detail" *ngIf="isFilteredProduct(product)">
        <!-- Image -->
        <img src="{{product.getImageUrl()}}" alt="{{product.productName}}" class="product-image" />
        <!-- Promotion Badge -->
        <div class="product-badges">
          <span class="product-badge sale" *ngIf="product.isSale">Sale</span>
          <span class="product-badge exclusive" *ngIf="product.isExclusive">Exclusive</span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <!-- Name -->
            <h3 class="product-name">{{product.productName}}</h3>
          </div>
          <div class="col-xs-4">
            <!-- Price -->
            <span class="product-price text-right">{{product.price}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="clearfix"></div>
  </div>
</div>