.products-page {
  margin: auto;

  .products-heading {
    background: #def1f4;
    margin-bottom: 1rem;

    h1 {
      font-size: 3rem;
    }

    h1, select {
      margin: .5rem 0;
    }
  }

  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .product-detail {
      border: 1px solid #ccc;
      padding: 1%;

      .product-image {
        width: 100%;
      }

      .product-badges {
        height: 5rem;

        .product-badge {
          padding: 1rem 2rem;
          color: #ffffff;
          display: inline-block;
        }

        .product-badge.sale {
          background: #009900;
        }

        .product-badge.exclusive {
          background: #cc3333;
        }
      }

      .product-name, .product-price {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
        line-height: 100%;
        padding: 0;
        display: block;
      }
    }
  }
}